<nz-page-header class="site-page-header">
    <nz-page-header-title>Pending Order</nz-page-header-title>
    <nz-page-header-subtitle></nz-page-header-subtitle>
    <nz-page-header-extra>
        <button (click)="openComponent()" nz-button nzType="primary"><i nz-icon nzType="verified" nzTheme="outline"></i>Confirm Order(s)</button>
        <button nz-button nzType="primary"><i nz-icon nzType="shopping-cart" nzTheme="outline"></i>Ship Order(s)</button> &nbsp;&nbsp;

        <nz-select ngModel="lucy">
            <nz-option nzValue="jack" nzLabel="Printer SUA"></nz-option>
            <nz-option nzValue="lucy" nzLabel="Printer Xin"></nz-option>
            <nz-option nzValue="sys" nzLabel="Printer SYS"></nz-option>
            <nz-option nzValue="tyq" nzLabel="Printer TYQ"></nz-option>

            <!-- <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option> -->
        </nz-select>
        <button nz-button nzType="primary"><i nz-icon nzType="printer" nzTheme="outline"></i>Print</button>
    </nz-page-header-extra>
    <nz-page-header-content>
        <div class="content">
            <div class="main">
                <nz-descriptions nzSize="small" [nzColumn]="3">
                    <nz-descriptions-item nzTitle="On Date" [nzSpan]="2">
                        <nz-select ngModel="date">
                            <nz-option nzValue="jack" nzLabel="17-09-2020"></nz-option>
                        </nz-select>
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="By Date" [nzSpan]="1">
                        <nz-switch [ngModel]="true" nzSize="small"></nz-switch>
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Report(s)" [nzSpan]="1">
                        <button nz-button nzType="primary" nzSize="small" class="font-11"><i nz-icon nzType="download"
                                nzTheme="outline"></i>Summary Order</button> &nbsp;
                        <button nz-button nzType="primary" nzSize="small" class="font-11"><i nz-icon nzType="download"
                                nzTheme="outline"></i>Individual Order</button>
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Search" [nzSpan]="2">

                        <nz-select ngModel="searchType">
                            <nz-option nzValue="po" nzLabel="P.O."></nz-option>
                            <nz-option nzValue="invoice" nzLabel="Inv"></nz-option>
                            <nz-option nzValue="orderId" nzLabel="O.I."></nz-option>
                        </nz-select>
                        <input type="text" nz-input [ngModel]="'X'" style="width:50%; " /> &nbsp;
                        <button nz-button><i nz-icon nzType="search" nzTheme="outline"></i>Execute</button>
                    </nz-descriptions-item>
                </nz-descriptions>
            </div>
            <!-- <div class="extra">
                <div>
                    <nz-statistic nzTitle="Status" nzValue="Pending"></nz-statistic>
                    <nz-statistic nzTitle="Price" [nzValue]="568.08" nzPrefix="$" style="margin: 0 32px"></nz-statistic>
                </div>
            </div> -->
        </div>
    </nz-page-header-content>
    <nz-page-header-footer>
        <nz-tabset [nzSelectedIndex]="1" style="border-bottom: 1px solid #F0F0F0;">
            <nz-tab nzTitle="Pending"></nz-tab>
            <nz-tab nzTitle="Confirmed"></nz-tab>
            <nz-tab nzTitle="Shipping"></nz-tab>
        </nz-tabset>
    </nz-page-header-footer>
</nz-page-header>

<div style="margin: 15px; height: 70%;" #content>

    <nz-table #basicTable [nzData]="listOfData" nzSize="small" 
        nzShowSizeChanger='true' [nzScroll]="scrollOpt" [nzPageSizeOptions]="[10, 20, 50, 100, 500]" nzTableLayout="fixed">
        <thead>
            <tr>
                <th nzShowCheckbox="true" nzWidth="30px"></th>
                <th>P.O.</th>
                <th>Invoice</th>
                <th>Customer</th>
                <th>Branch (Address)</th>
                <th class="text-center">Calc. Inv</th>
                <th>Delivery Date</th>
                <th>Contact Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td nzShowCheckbox="true" nzWidth="30px"></td>
                <td nzWidth="150px">{{ data.po }}</td>
                <td nzWidth="150px">{{ data.invoice }}</td>
                <td nzEllipsis>{{ data.customer }}</td>
                <td nzEllipsis>{{ data.branch }}</td>
                <td nzWidth="40px" class="text-center">
                    <label nz-checkbox [(ngModel)]="data.calculateInvoice">Yes</label>
                </td>
                <td>{{ data.contact }}</td>
                <td>{{ data.number }}</td>
                <td>
                    <a>Review</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a>Delete</a>
                </td>
            </tr>
        </tbody>
    </nz-table>

    <!-- <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your username!">
                <nz-input-group nzPrefixIcon="user">
                    <input formControlName="userName" nz-input placeholder="Username" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!">
                <nz-input-group nzPrefixIcon="lock">
                    <input formControlName="password" nz-input type="password" placeholder="Password" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <button nz-button nzType="primary" [disabled]="!validateForm.valid">Log in</button>
            </nz-form-control>
        </nz-form-item>
    </form> -->
</div>